html{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #5DA7DB;
}
.container-resume .header-container{  
    background-color: #FDFDBD;  
    justify-self: center;
    margin: 10% 25% 15%;
    height: 60vh;
    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
}
.social{
   display: flex;
   justify-content: center;
}
.socials{
    height: 50px;
    margin: 0 30px;
}
.imageHeader{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
}
.header-container h1{
    text-align: center;
}
.header-container p{
    display: inline-block;
    font-size: 16px;
    padding-left: 25px;
}
.header-container .icons{
    height: 25px;    
}
.personal-data{
    background-color: #BCCEF8;
    border: 1px solid black;
    border-radius: 20px;
    width: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    text-align: center;

}
.personal-data table, th, td:first-child{
    display:inline-block;
    justify-content: center;
    text-align: left;  
    padding: 10px 20px; 
}
td:nth-child(2){
    text-align: left;
    padding: 10px 20px;
}
.educationalBackground{
    background-color: #B1D7B4;
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    height: 70vh;
    width: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
.educationalBGheader{
    text-align: center;
}
.school h4{
    text-align: left;
    padding-left: 15%;
}
.school p{
    text-align: left;
    padding-left: 40%;
}
.skills{
    background-color: #FFAE6D   ;
    height: 50vh;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.skills h2{
    text-align: center;
}
.skills li{
    list-style-type: square;
    padding: 10px 20px;
}
.charRef{
    background-color: #A5C9CA;
    height: 60vh;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
}
.charRef h2{
    text-align: center;
}
.charRef li{
    text-align: left;
    padding-left: 20px;
    list-style-type: none;
    font-weight: 600;
}
.charRef .curriculum{
    font-weight: 600;
    text-align: center;
}
.charRef p:nth-child(1n+2){
    text-align: left;
    padding-left: 25%;
}
.awards{
    background-color: #C3F8FF;
    height: 50vh;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.awards h2{
    text-align: center;
}
.awards p{
    padding-left: 20px;
}